Flask-Cors==3.0.10
Flask==2.3.3
PyCameraList==1.0.0
PySide6-Addons
PySide6-Essentials
PySide6
PyYAML==6.0
Werkzeug==2.3.7
flask-sock==0.6.0
hidapi==0.13.1
numpy==1.24.4
opencv-contrib-python==4.8.0.74
opencv-python==4.6.0.66
pyqtdarktheme==2.1.0
